################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/RondasEcopetrolWPF/RondasEcopetrolWPF/obj
/RondasEcopetrol/obj
/RondasEcopetrolWPF/.vs/RondasEcopetrolWPF/v16/Server/sqlite3
/.vs/Rondas/v16/.suo
/RondasEcopetrolWPF/.vs/RondasEcopetrolWPF/v16
/RondasEcopetrolWPF/RondasEcopetrolWPF/bin/Debug
/RondasEcopetrolWPF/RondasEcopetrolWPF/bin/Release
/.vs/RepoRondas/v16/.suo
/.vs/RepositorioRondas/v16/.suo
