################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/RondasEcopetrolWPF/RondasEcopetrolWPF/obj/Release
/RondasEcopetrol/obj
/RondasEcopetrolWPF/.vs/RondasEcopetrolWPF/v16/Server/sqlite3
/.vs/Rondas/v16/.suo
/RondasEcopetrolWPF/RondasEcopetrolWPF/obj/Debug
